<% if logged_in? %>
<nav class="nav_bar_container">
  <section class="nav_bar_content_box">
    <div><img id="nav_bar_quora_logo" src="/img/quora_logo.png" alt="nav bar quora logo"></div>
    <div id="nav_bar_home_tab">
      <div>
        <a href="/home"><img src="/img/menu_icon.png" alt="quora nav bar home tab"></a>
      </div>
      <div>
        <p>Home</p>
      </div>
    </div>
    <div id="nav_bar_answer_tab">
      <div>
        <img src="/img/answer_icon.png" alt="quora nav bar answer tab">
      </div>
      <div>
        <p>Answer</p>
      </div>
    </div>
    <div id="nav_bar_notifications_tab">
      <div>
        <img src="/img/notification_icon.png" alt="quora nav bar notification tab">
      </div>
      <div>
        <p>Notifications</p>
      </div>
    </div>
    <div>
      <form action="/search" method="post" id="search_bar">
        <input type="text" name="search_bar" value="" placeholder="Search Quora">
      </form>
    </div>
    <div id="nav_bar_profile_tab">
      <img src="/img/profile_placeholder.png" alt="profile picture tab">
    </div>
    <div id="nav_bar_add_question_button">
      <p>Add Question</p>
    </div>
  </section>
</nav>
<div class="hidden_div"></div>
<section class="index_content_page_container">
  <div class="index_content_box">
    <aside class="index_left_sidebar">
      <p>this is left side</p>
    </aside>
    <div class="index_middle_container">
      <div class="index_name_display_box">
        <div>
          <p><%=current_user.name%></p>
        </div>
        <div>
          <h2>What is your question?</h2>
        </div>
      </div>
      <% all = Question.order(updated_at: :desc) %>
      <% all.each do |q| %>
      <div class="index_question_display_box">
        <% user = User.find(q.user_id) %>
        <div>
          <div>
            <a href="/questions/<%=q.id%>"><p>Q: <%=q.title%></p></a>
          </div>
          <p>Posted by: <%=user.name%></p>
        </div>
        <div>
          <p><%=q.description%></p>
        </div>
        <% answer = Answer.find_by(question_id: q.id)%>
        <%if answer.nil?%>
        <a href="/questions/<%=q.id%>"><p>Be the first to answer this question</p></a>
        <%else%>
        <div>
          <% user = User.find(answer.user_id) %>
          <p>last posted answer: by <%=user.name%></p>
          <p><%=answer.answer%></p>
        </div>
        <%end%>
      </div>
      <%end%>
    </div>
    <aside class="index_right_sidebar">
      <p>this is right side</p>
    </aside>
  </div>
</section>
<%else%>
<%redireict '/'%>
<%end%>
